@import 'variables.scss';

.blogs {
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: $white;
    align-items: center;
    position: relative;

    @media screen and (min-width: 769px) {
        margin: 2.5px 0px;
        border-radius: 6px;
    }

    .top {
        height: calc(100% - 85px);
        width: 100%;
        overflow: scroll;

        @media screen and (min-width: 769px) {
            height: calc(100% - 50px);
        }

        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        .blog-cards {
            padding: 15px;
            padding-top: 12px;
            justify-content: space-around;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            column-gap: 10px;
            row-gap: 10px;
        }
    }

    .bottom {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: rgba(0 0 0 / 15%) 0px -3px 11px -2px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        position: relative;

        svg {
            color: $jet;
        }

        div {
            display: flex;
            align-items: center;
            margin-top: -1.5px;
        }

        .icons-left,
        .icons-right {
            div {
                padding: 6.5px;
                padding-top: 7.5px;
                padding-bottom: 7.5px;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 2.5px;

                &:hover {
                    background-color: $light-gray;
                    box-shadow: rgb(50 50 93 / 25%) 0px 0px 4px 1px inset;
                }
            }

            span {
                display: none;

                @media screen and (min-width: 550px) {
                    font-family: 'Rubik';
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-top: 2px;
                    display: inline-block;
                }
            }

            svg {
                margin: 0px 2.5px;
                font-size: 22px;
            }
        }

        .icons-left {
            flex-basis: 45%;
            padding-left: 14px;

            span {
                margin-left: 3px;
            }
        }

        .icons-middle {
            flex-basis: 10%;
            justify-content: center;

            .add-blog {
                font-size: 33px;
                display: block;
                cursor: pointer;
            }
        }

        .icons-right {
            flex-basis: 45%;
            justify-content: flex-end;
            padding-right: 12px;

            span {
                margin-right: 3px;
            }
        }
    }
}