@import './variables.scss';
@import './animations.scss';

@for $i from 1 to 10 {
    .blog-card:nth-child(#{$i}) {
        animation-delay: $i * 0.15s;
    }
}

.blog-card {
    display: flex;
    position: relative;
    max-height: 275px;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    background-color: $light-gray;
    border-radius: 8px;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
    color: $white;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    opacity: 0;

    .card-top {
        width: 100%;
        font-family: 'Nunito';
        font-size: 15px;
        line-height: 17px;
        overflow: hidden;
        margin-bottom: 7px;

        @media screen and (min-width: 1080px) {
            font-size: 16px;
            line-height: 18px;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }

        .title {
            font-size: 15px;
            line-height: 17px;
            margin: 0px 10px;
            margin-top: 6px;
            padding-bottom: 6px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $jet;
            border-bottom: 2.5px solid $pale-silver;

            @media screen and (min-width: 1080px) {
                font-size: 17px;
                line-height: 18px;
            }

        }

        .content {
            white-space: pre-wrap;
            padding: 7px 10px;
            color: $jet;
        }
    }

    .card-bottom {
        height: auto;
        width: 200px;
        background: linear-gradient(120deg, rgb(0, 0, 0, 0%) 0% 10%, $pale-silver 11% 90%, rgb(0, 0, 0, 0%) 91% 100%);
        position: absolute;
        padding: 4px 2px;
        top: 0;
        right: 10px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
            background: linear-gradient(250deg, rgb(0, 0, 0, 0%) 0% 10%, $pale-silver 11% 90%, rgb(0, 0, 0, 0%) 91% 100%);
            bottom: 0;
            top: auto;
        }

        .card-right-icons {
            display: flex;
            justify-content: right;
            align-items: center;
            flex-basis: 50%;
            margin-right: 27px;
            font-size: 13px;

            svg {
                margin-right: 2px;
            }

            span {
                margin-right: 4px;
                font-family: 'Exo';
                font-weight: bold;
            }

            .voting {
                display: flex;
                align-items: center;
                margin-right: 7.5px;

                svg:nth-of-type(1) {
                    margin-top: -1px;

                    &:hover {
                        color: green;
                    }
                }

                svg:nth-of-type(2) {

                    &:hover {
                        color: red;
                    }
                }
            }

            .comments {
                display: flex;
                align-items: center;
            }
        }

        .card-left-icons {
            display: flex;
            justify-content: left;
            align-items: center;
            flex-basis: 50%;
        }
    }
}