@import 'variables.scss';

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    background-color: $light-gray;

    @media screen and (max-width: 1080px) {
        height: calc(var(--vh, 1vh) * 100);
    }

    .main {
        display: flex;
        justify-content: center;
        height: 100%;
        max-width: 1080px;

        @media screen and (min-width: 1081px) {
            max-height: 98%;
        }

        @media screen and (min-width: 1921px) {
            max-height: 1100px;
        }
    }

    .show {
        visibility: visible;
    }
}