@import 'variables.scss';
@import 'animations.scss';

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* Fallback for browsers that do not support Custom Properties */

    @media screen and (max-width: 1080px) {
        height: calc(var(--vh, 1vh) * 100);
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;
        border: 4px solid $white;
        box-shadow: rgba(10, 37, 64, 0.35) 0px 0px 6px 0px;
        flex-direction: column;

        @media screen and (max-width: 1280px) {
            border: none;
        }

        @media screen and (min-width: 1281px) {
            max-width: 1280px;
            height: 98%;
            border-radius: 6px;
        }

        .main-background {
            background-color: #4A4C4D;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -2;
        }

        .blur-cover {
            z-index: 8;
            backdrop-filter: blur(2px);
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .main-content {
            width: 100%;
            overflow: scroll;

            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
            }
        }

        .bottom {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0 0 0 / 15%) 0px -3px 11px -2px;
            position: relative;
            background-color: $white;
            //for border fix below
            padding-top: 1.75px;
            padding-bottom: 1.75px;
            z-index: 10;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            @media screen and (max-width: 1000px) {
                width: 100%;
            }

            @media screen and (min-width: 1280px) {
                margin-bottom: -4px
            }

            svg {
                color: $jet;
            }

            div {
                display: flex;
                align-items: center;
            }

            .icons-left,
            .icons-right {
                div {
                    padding: 6.5px;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: $light-gray;
                        box-shadow: rgb(50 50 93 / 25%) 0px 0px 4px 1px inset;
                    }
                }

                span {
                    display: none;

                    @media screen and (min-width: 550px) {
                        font-family: 'Rubik';
                        font-size: 12px;
                        line-height: 12px;
                        text-transform: uppercase;
                        font-weight: bold;
                        display: inline-block;
                    }
                }

                svg {
                    margin: 0px 2.5px;
                    font-size: 20px;
                }
            }

            .icons-left {
                flex-basis: 45%;
                padding-left: 3.25px;

                span {
                    margin-left: 3px;
                    padding-right: 6px;
                }
            }

            .icons-middle {
                flex-basis: 10%;
                justify-content: center;

                .add-blog {
                    font-size: 45px;
                    display: block;
                    cursor: pointer;
                    margin-top: -8px;
                    background: $white;
                    padding: 7px;
                    border-radius: 6px;
                    box-shadow: rgb(0 0 0 / 15%) 0px -6px 9px -7px;
                }
            }

            .icons-right {
                flex-basis: 45%;
                justify-content: flex-end;
                padding-right: 3.25px;

                span {
                    margin-right: 3px;
                    padding-left: 7px;
                }
            }
        }
    }

    .show {
        visibility: visible;
    }
}