@import 'variables.scss';

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $light-gray;

    .main {
        display: flex;
        justify-content: center;
        height: 100%;

        @media screen and (min-width: '769px') {
            max-width: 1080px;
            max-height: 1100px;
        }
    }
}