@import './variables.scss';

.mobile-menu {
    display: flex;
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 11px -5px;
    height: 35px;
    width: 100%;
    color: $jet;

    .mobile-icons-left {
        display: flex;
        margin-left: 12px;
        flex-basis: 50%;
        align-items: center;

        .user-info {
            text-align: center;
            font-family: 'Rubik';
            font-size: 12px;
            line-height: 12px;
            color: $jet;
            display: flex;
            align-items: center;
            font-weight: bold;
            cursor: pointer;

            span {
                margin-left: 4px;
            }

            img {
                width: 22.5px;
                height: 22.5px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }

    .mobile-icons-right {
        display: flex;
        flex-basis: 50%;
        align-items: center;
        justify-content: flex-end;
        font-size: 24px;
        margin-right: 8px;

        div {
            cursor: pointer;
            display: flex;
            align-items: center;

            span {
                display: none;

                @media screen and (min-width: 550px) {
                    font-family: 'Rubik';
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: inline-block;
                }
            }

            svg {
                margin-left: 3px;
            }
        }
    }
}