@import './variables.scss';

.userModal {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    z-index: 1;

    .modal {
        justify-content: center;
        height: 300px;
        width: 400px;
        background-color: $white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 12px;

        h2 {
            width: 100%;
            text-align: center;
        }

        .form {
            width: 100%;
            margin-top: 15px;
            justify-content: center;
        }

        .textbox {
            display: flex;
            margin: 6.5px auto;
            width: 85%
        }
    }
}