$jet: #353535;
$light-charcoal: #4A4C4D;
$light-gray: #F4F6F7;
$white: #F7F9F9;
$pale-silver: #34495E;
$middle-grey: #8A897C;
$dark: #212121;
$red: #D50000;

// $jet: #353535;
// $light-gray: #FFFFFF;
// $white: #D2D7DF;
// $pale-silver: #BDBBB0;
// $middle-grey: #8A897C;